In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyBDXNLpBFBEMBlbNCO2l-L1o5tJST_ia2w"
gmaps.configure(api_key=g_key)

In [13]:
# Load the city data from the CSV file to a dataframe
cities = pd.read_csv("city_weather_data.csv", encoding="utf-8")
cities.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jamestown,75,US,1586562831,59,42.10,-79.24,37.99,19.46
1,1,Nikolskoye,75,RU,1586563077,95,59.70,30.79,33.01,4.47
2,2,Lethem,89,GY,1586563078,62,3.38,-59.80,84.38,10.76
3,3,Rikitea,86,PF,1586563079,74,-23.12,-134.97,77.43,7.40
4,4,Quatre Cocos,40,MU,1586563080,78,-20.21,57.76,78.80,11.41

In [14]:
# Create humidity heatmap using gmaps
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Lat", "Lng"]]

In [15]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Create a new dataframe with narrowed down weather conditions
narrowed_city_df = cities.loc[(cities["Max Temp"] > 70) & (cities["Max Temp"] < 80) & (cities["Cloudiness"] == 0), :]
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.reset_index(inplace=True)
del narrowed_city_df['index']
narrowed_city_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,160,Nioro,0,GM,1586563285,60,13.35,-15.75,72.86,6.80
1,170,Puerto Maldonado,0,PE,1586563298,61,-12.60,-69.18,72.48,2.39
2,223,Port Hedland,0,AU,1586563373,69,-20.32,118.57,78.80,6.93
3,260,Mendoza,0,AR,1586563389,43,-32.89,-68.83,71.60,3.36
4,338,Nouakchott,0,MR,1586563518,73,18.09,-15.98,75.20,10.29

In [17]:
hotellist = []

for i in range(len(narrowed_city_df)):
    lat = narrowed_city_df.loc[i]['Lat']
    lng = narrowed_city_df.loc[i]['Lng']

    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    requested = requests.get(base_url, params=params)
    jsn = requested.json()
    try:
        hotellist.append(jsn['results'][0]['name'])
    except:
        hotellist.append("")
narrowed_city_df["Hotel Name"] = hotellist
narrowed_city_df = narrowed_city_df.dropna(how='any')
narrowed_city_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,160,Nioro,0,GM,1586563285,60,13.35,-15.75,72.86,6.80,Nioro
1,170,Puerto Maldonado,0,PE,1586563298,61,-12.60,-69.18,72.48,2.39,Cercado de Tambopata
2,223,Port Hedland,0,AU,1586563373,69,-20.32,118.57,78.80,6.93,Port Hedland
3,260,Mendoza,0,AR,1586563389,43,-32.89,-68.83,71.60,3.36,Mendoza
4,338,Nouakchott,0,MR,1586563518,73,18.09,-15.98,75.20,10.29,Nouakchott

In [18]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = narrowed_city_df[["Lat", "Lng"]]

In [19]:

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))